.Span{
    padding: 20px;
    background-color: #efefef;
    color: #000000;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#movies{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.diving{
    display: flex;
    align-Items: center;
    justify-Content: center;
    background-Size: cover;
    object-fit: cover;
}
